
<div class="print-screen">

    <video  #video src="" class="print-screen__video" muted autoplay></video>
    <canvas #canvas [width]=videoWidth [height]=videoHeight class="print-screen__canvas"></canvas>

    <div class="print-screen__options">
        <button class="print-screen__btn--change-camera" (click)="changeCamera()">alterar camera</button>
        <button class="print-screen__btn--capture" (click)="capture()">tirar foto</button>
    </div>
  
</div>


<app-image-preview [imageUrl]="urlImage" *ngIf="showPreview" (closeImagePreview)="showPreview =  false"></app-image-preview>